PROCESS_CENTREON_WWW=1
PROCESS_CENTSTORAGE=0
PROCESS_CENTCORE=1
PROCESS_CENTREON_PLUGINS=1
PROCESS_CENTREON_SNMP_TRAPS=1

BIN_MAIL=/bin/mail

INSTALL_DIR_CENTREON=/usr/local/centreon-full/centreon
CENTREON_LOG=/var/log/centreon/
CENTREON_ETC=/etc/centreon
CENTREON_BINDIR=/usr/local/centreon-full/centreon/bin
CENTREON_DATADIR=/var/lib/centreon/data
CENTREON_VARLIB=/var/lib/centreon

PEAR_PATH=/usr/share/pear/
DEFAULT_PEAR_PATH=/usr/share/pear/PEAR.php
PEAR_AUTOINST=1

DIR_APACHE=/etc/httpd/conf
DIR_APACHE_CONF=/etc/httpd/conf.d
APACHE_CONF=httpd.conf
WEB_USER=apache
WEB_GROUP=apache
APACHE_RELOAD=1

CENTREON_GROUP=centreon
CENTREON_USER=centreon

MONITORINGENGINE_USER=centreon-engine
MONITORINGENGINE_GROUP=centreon-engine
BROKER_USER=centreon-broker
BROKER_GROUP=centreon-broker
MONITORINGENGINE_LOG=/var/log/centreon-engine
PLUGIN_DIR=/usr/local/centreon-full/libexec
CENTREON_ENGINE_CONNECTORS=/usr/local/centreon-full/lib

SUDO_FILE=/etc/sudoers
FORCE_SUDO_CONF=1

MONITORINGENGINE_INIT_SCRIPT=/etc/init.d/centengine
MONITORINGENGINE_BINARY=/usr/local/centreon-full/bin/centengine
MONITORINGENGINE_ETC=/etc/centreon-engine

BROKER_ETC=/etc/centreon-broker
BROKER_INIT_SCRIPT=/etc/init.d/cbd

CENTREON_RUNDIR=/var/run/centreon
CENTSTORAGE_BINDIR=/usr/local/centreon-full/centreon/bin
CENTSTORAGE_RRD=/var/lib/centreon/rrd
CENTSTORAGE_INSTALL_INIT=0
CENTSTORAGE_INSTALL_RUNLVL=0

CENTCORE_BINDIR=/usr/local/centreon-full/centreon/bin
CENTCORE_INSTALL_INIT=1
CENTCORE_INSTALL_RUNLVL=1

CENTPLUGINS_TMP=/var/lib/centreon/centplugins

SNMP_ETC=/etc/snmp

CENTREONTRAPD_BINDIR=/usr/local/centreon-full/centreon/bin
CENTREONTRAPD_INSTALL_INIT=1
